<div class="center">
      <h1>Sign Up</h1>
      <%= simple_form_for(@user) do |f| %>

            <%= f.input :name %>
            <%= f.input :email %>
            <%= f.input :password %>
            <%= f.input :password_confirmation, label: "Confirmation" %>

            <%= f.submit "Create my account", class: "btn btn-large btn-primary"  %>
      <% end %>
      <p>Already a user? <%= link_to "Sign in now!", signin_path %></p>
</div>