<div class="span3 center" id="userbox">
	<h1><%= @user.name %></h1>
	<%= link_to("New feed", new_feed_path, remote: true, class: "btn btn-small", id:"new-link") %>
</div>
<div class="span6" id="feed-list">
	
	<%= render 'feeds/feed_list' %>

	<%= form_for @user, :url => {:action=>'upload_opml'}, :html=> {:multipart=>true} do |f| %>
	    <%= f.label :uploaded_file, 'Upload your file.' %>
	    <%= f.file_field :uploaded_file %>
		<%= f.submit 'upload' %>
	<% end %>
	
	<div class="add_services">
		<ul>
		    <li><%= link_to "Add Twitter", "/auth/twitter"%></li>
		    <li><%= link_to "Add Pocket", "/auth/pocket"%></li>
		    <li><%= link_to "Add Readability", "/auth/readability"%></li>
		</ul>
	</div>
</div>