<% if item.read? %>
<div class="item">
	<%= link_to(item.title, item, class: "read-item") %></h5>
	<p>
		<%=raw item.description %>
	</p>
	<span>Published: 
		<% if item.published != nil %>
	 	<%= item.published.split('.')[0] %>
	 	<% end %>
	 </span>
	<div>Read? <%= item.read? %></div>
</div>
<% else %>
<div class="item">
	<div class="unread-item"><%= link_to(item.title, item) %></div>
	<p>
		<%=raw item.description %>
	</p>
	<div class="published">
		Published: 
		<% if item.published != nil %>
	 	<%= item.published.split('.')[0] %>
	 	<% end %>
	 </div>
	 
	<div class="read-mark">Read? <%= item.read? %></div>
</div>
<% end %>

