
<% if item.read? %>
<div class="closed-item read", id="item-<%= item.id%>">
<% else %>
<div class="closed-item unread", id="item-<%= item.id%>">
<% end %>

	<%= link_to(item.title, item, remote: true) %>

	<% if item.starred? %>
	<%= link_to("star", item_toggle_starred_path(item), remote: true, :class => "starred", :id => "star-" + item.id.to_s) %>
	<% else %>
	<%= link_to("star", item_toggle_starred_path(item), remote: true, :class => "unstarred", :id => "star-" + item.id.to_s) %>
	<% end %>

	<%= link_to("tweet", item_tweet_path(item), remote: true, :class => "twitter", :id => "tweet-" + item.id.to_s) %>
	<%= link_to("pocket", item_pocket_path(item), remote: true, :class => "pocket", :id => "pocket-" + item.id.to_s) %>
	<%= link_to("readability", item_readability_path(item), remote: true, :class => "readability", :id => "readability-" + item.id.to_s) %>
</div>