function htmlDecode(input){
  var e = document.createElement('div');
  e.innerHTML = input;
  return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
}

<% if @item.published != nil %>
 	var published = '<%= @item.published.split('.')[0] %>';
<% end %>

var bufferClass = $('#item-<%= @item.id%>').attr('class');

if ((bufferClass == 'closed-item unread')
		|| (bufferClass =='closed-item read')){
	var html = '<%= @item.description %>';
	var escape = htmlDecode(html);

	// handle updating unread stuff
	if (bufferClass == 'closed-item unread') {
		<% @item.read = true %>
		<% @item.save %>
		$('#unread-<%= @item.feed.id %>')
			.html('<%= @item.feed.items.where("read = ?", false).count %>');
	}

	$('.item-text').remove();

	$('#item-<%= @item.id%>')
		.attr('class', 'opened-item read')
		.after('<div class="item-text">' + escape + '</div>');

	$
	$('.item-text').append('<div class="published">' + published + '</div>');
}
else
{
	$('.item-text').remove();
	$('#item-<%= @item.id%>')
		.attr('class', 'closed-item read');
}